.wp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.page {
  font-size: 16px;
  text-align: center;
  background: #eeeeee;
  position: relative;
}

.nav-bg {
  position: absolute;
  left: 0;
  right: 0;
  background-image: linear-gradient(to left, #23dda2, #1f9ec7);
  height: 30px;
  z-index: 999;
}

.nav-title {
  position: absolute;
  top: 0;
  text-align: center;
  background-image: linear-gradient(to left, #1790d5, #0db5c9);
  font-size: 16px;
  padding: 8px 13px;
  color: #FFF;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.js-animate {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  // transform: translateY(-50%);
  img {
    max-width: 76%;
    max-height: 76%;
    display: inline-block;
    position: relative;
    z-index: 10;
  }
}


/*Swiper原样式 */

.swiper-button-next {
  background-image: url("../img/next.svg");
}


/*改变了颜色和加粗的样式*/

.swiper-button-next {
  background-image: url("../img/next.svg");
  animation: next 1.5s infinite ease-in-out;
}

.swiper-slide {
  // img{
  //   position: absolute;
  //   top: 50%;
  //   transform: translateX(-50%);
  // }
}

// .bix {
//   // height: 100%;
//   width: 100%;
//   // display: flex;
//   text-align: center;
//   // align-items: center;
//   // justify-content: center;
// }
.bix {
  // display: flex;
  // height: 100%;
  // width: 100%;
  // text-align: center;
  // align-items: center;
  // justify-content: center;
  // vertical-align: middle;
  // position: absolute;
  // top: 50%;
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}

.masking {
  background-color: #343434;
  opacity: 0.55;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; // cursor: pointer;
  &-hover:hover {
    .masking {
      background-color: #343434;
      opacity: .55;
    }
  }
}

.page1 {
  background: #fff;
  .js-animate {
    img {
      max-width: 68%;
      max-height: 68%;
    }
  }
}

.page2 {
  background: #eeeeee;
}

.page3 {}

.bg1 {
  background: url("../img/f2-1-bg.png") no-repeat center center;
  background-size: cover;
}

.bg2 {
  background: url("../img/f2-2-bg.png") no-repeat center center;
  background-size: cover;
}

.bg3 {
  background: url("../img/f2-3-bg.png") no-repeat center center;
  background-size: cover;
}

.page6 {
  // background:#eeeeee url("../img/f3-bg.png") no-repeat top left;
  background-size: contain;
  .js-animate {
    img {
      max-width: 72%;
      max-height: 72%;
    }
  }
}

.page7,
.page8 {
  // background:#eeeeee url("../img/f3-bg.png") no-repeat top left;
  background-size: contain;
  .js-animate {
    img {
      max-width: 92%;
      max-height: 92%;
    }
  }
}

.txt {
  &1 {
    font-size: 25px;
  }
  &2 {
    margin-bottom: 10px;
  }
}


/* 箭头 */

@keyframes start {
  0%,
  30% {
    opacity: 0.2;
    transform: translate(0, 10px);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0.2;
    transform: translate(0, -5px);
  }
}


/* 箭头 */

@keyframes next {
  0%,
  30% {
    opacity: 0.2;
    transform: translate(-5px, 0);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0.2;
    transform: translate(10px, 0);    
  }
}

.start {
  position: fixed;
  left: 50%;
  margin-left: -17px;
  top: 95%;
  margin-top: -34px;
  width: 34px;
  height: 34px;
}

.start b {
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -9px;
  width: 19px;
  height: 12px;
  background: url(../img/arrow.png);
  background-size: 100% 100%;
  -webkit-animation: start 1.5s infinite ease-in-out;
  animation: start 1.5s infinite ease-in-out;
}