body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #444;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}

.section {
  padding-left: 120px;
  position: relative;
}

.masking {
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; 
  cursor: pointer;
  &-hover:hover {
    .masking {
      background-color: #343434;
      opacity: .55;
    }
  }
}

.img-box{
 text-align: center;
 height: 100%;
 width: 100%;
 margin: auto;
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 justify-content: center;
 align-items: center;
 display: flex;
 img{
   display: inline-block;
 } 
}

.imgside{
  &.hide{
    display: none;
  }
}

.page {
  &_w {
    width: 1200px;
    @include mq(max, 1360px) {
      width: 960px;
    }
  }
  &_content {
    position: relative;
    height: 100%;
    width: 100%;
    img {
      max-height: 94%;
      max-width: 94%;
    }
  }
  
  &_1 {
    // width: 908px;
    // height: 763px;
    .img-box{
      max-width: 908px;
      max-height: 763px;
    }
  }
  &_2 {
    height: 100%;
    .ma {
      &_1 {
        width: 50%;
        height: 100%;
        float: left;
        font-size: 0;
        background: url("../img/f2-1-bg.png") no-repeat center center;
        background-size: cover;
        position: relative;
      }
      &_2 {
        width: 50%;
        height: 100%;
        display: inline-block;
        font-size: 0;
      }
      &_3 {
        width: 100%;
        height: 50%;
        background: url("../img/f2-2-bg.png") no-repeat center center;
        background-size: cover;
        position: relative;
      }
      &_4 {
        width: 100%;
        height: 50%;
        background: url("../img/f2-3-bg.png") no-repeat center center;
        background-size: cover;
        position: relative;
      }
    }
    .conten {
      position: absolute;
      z-index: 9;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); // cursor: pointer;
    }
  }
  &_3 {
    .img-box{
      max-width: 1028px;
      max-height: 669px;
      // background: url("../img/f3.png") no-repeat center center;
      background-size: contain;
    }
  }
  &_4 {
    .img-box{
      max-width: 1201px;
      max-height: 917px;
    }
  }
  &_5 {
    .img-box{
      max-width: 1205px;
      max-height: 859px;
    }
  }
}